.modal-reset-password {

  .forgot-password {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-size: 2.3rem;
      color: #231D4F;
      line-height: 2.6rem;
      text-align: center;
      margin-bottom: 1.9rem;
    }

    &-description {
      font-size: 1.5rem;
      line-height: 2.1rem;
      text-align: center;
      color: #7686AB;
      margin-bottom: 3.5rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2.3rem;

      .mass-market-button--important {
        width: 100%;
      }

      .mass-market-button--transparent {
        width: 100%;
        border: none;
      }
    }
  }


  .reset-password {

    &__title {
      font-size: 1.8rem;
      color: #231D4F;
      line-height: 2.6rem;
      text-align: center;
    }

    &-message {
      font-family: "AlataRegular", sans-serif;
      font-size: 1.5rem;
      color: #7686AB;
      line-height: 170%;
      margin-top: 3.4rem;
      margin-bottom: 3.4rem;
      text-align: center;

      .email {
        color: #231D4F;
      }

    }

    .resend-message {
      font-size: 1.5rem;
      line-height: 140%;
      text-align: center;
      color: #7686AB;

      &__link {
        color: #1748FB;
        cursor: pointer;
      }
    }
  }
}